body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

label {
  display: block;
  margin-top: 20px;
}

input {
  font-size: 1rem;
  padding: 5px;
  border: 2px solid black;
  border-radius: 4px;
  color: white;
}

.button {
  display: flex;
  justify-content: center;
}

button {
  margin: 20px 0;
  display: block;
  padding: 10px 20px;
  background: #caf;
  border: none;
  color: #217;
  border-radius: 4px;
  cursor: pointer;
}

.checkbox,
.radio {
  display: grid;
  grid-template-columns: auto 1fr;
  margin-top: 20px;
  gap: 10px;
  align-items: center;
}

.checkbox label,
.radio label {
  font-size: 1.2rem;
  margin: 0;
  display: inline-block;
}
.checkbox input,
.radio input {
  margin: 0;
  width: 15px;
  height: 15px;
}

select {
  font-size: 1.2rem;
  padding: 10px;
}

select:invalid {
  color: grey;
}

select::selection {
  color: red;
}

textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}
