:root {
  --cor-primaria: #e21;
  --cor-primaria-escura: #900;
  --background-1: #f7f7f7;
  --background-2: #ffffff;
  --text: #000000;
  --subtitulo: rgba(0, 0, 0, 0.2);
  --onda: url("./img/onda-clara.svg") center;
}

@media (prefers-color-scheme: dark) {
  :root {
    --cor-primaria: #e21;
    --cor-primaria-escura: #900;
    --background-1: #111111;
    --background-2: #000000;
    --text: #ffffff;
    --subtitulo: rgba(255, 255, 255, 0.2);
    --onda: url("./img/onda-escura.svg") center;
  }
}

body {
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background: var(--background-1);
  display: grid;
  gap: 3.125rem;
  justify-items: center;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  margin: 3.125rem 0 0 0;
}

button {
  color: var(--text);
  background: var(--background-2);
  border: none;
  border-radius: 0.3125rem;
  padding: 0.9375rem 1.875rem;
  font-size: 1.25rem;
  cursor: pointer;
}

p {
  margin: 0;
  font-size: 1.25rem;
}

footer {
  text-align: center;
  padding: 2.5rem 0;
  font-size: 1.25rem;
  font-weight: 600;
  background: var(--background-2);
  width: 100%;
}

/* Estilos para navegação */
header {
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
}

.nav {
  display: inherit;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.25rem;
}

.nav-button {
  /* colocando no estilo padrão uma borda transparente do mesmo
  tamanho da borda do hover evitamos o tick */
  border: 0.125rem solid transparent;
}

.nav-button:hover {
  border: 0.125rem solid red;
}

/* Outra forma de corrigir o tick do hover: */
/* .nav-button:hover {
  border: 0.125rem solid red;
  padding: 0.8125rem 1.75rem;
} */

/* Estilo do container principal */
.container {
  display: grid;
  max-width: 62.5rem;
  grid-template-columns: 1fr 1fr;
  margin: 0 3.75rem;
}

/* article Descrição */
.descricao {
  align-content: center;
  position: relative;
  text-align: right;
  padding: 2.5rem;
  background: var(--background-2);
}

h2 {
  font-size: 2rem;
  margin: 0;
}

.descricao p {
  margin: 1.25rem;
}

/* novo estilo para o red-dash */
.descricao::after {
  content: "";
  height: 0.25rem;
  width: 3.75rem;
  background: var(--cor-primaria);
  position: absolute;
  top: 1.875rem;
  right: -1.875rem;
}

/* .red-dash {
  height: 0.25rem;
  width: 3.75rem;
  background: var(--cor-primaria);
  position: absolute;
  top: 1.875rem;
  right: -1.875rem;
} */

.vermais {
  color: white;
  background: var(--cor-primaria);
}

.vermais:hover {
  color: white;
  background: rgb(169, 25, 12);
}

/* Imagem bicicleta */
.bike {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center right;
  display: block;
  grid-column: 2 / 3;
}

/* Article Vantagens bikcraft */
.vantagens {
  color: var(--subtitulo);
  padding: 2.5rem;
  align-self: center;
  text-align: right;
  font-size: 4rem;
  font-weight: 700;
  /* background: url("./img/onda.svg") center; */
  background: var(--onda);
}

/* Article caracteristicas */
.caract {
  margin: 0;
  background: var(--background-2);
  padding: 2.5rem;
}

.titulo {
  margin: 0;
}

.caract-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.625rem 1.25rem;
  padding: 1.25rem;
  border-left: 2px solid transparent;
}

.caract-item:hover {
  border-left: 2px solid red;
}

.caract-item:nth-child(odd) {
  background: var(--background-1);
}

.caract-item p {
  grid-column: 2;
}

@media (width <= 1060px) {
  body {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  header {
    gap: 1.5rem;
  }
  h1 {
    margin: 1.5rem 0 0 0;
  }
  .conteudo-vantagens {
    grid-template-columns: 1fr;
  }
  .vantagens {
    text-align: center;
  }
}

@media (width <= 780px) {
  .container {
    margin: 0;
  }
  .descricao {
    text-align: center;
    grid-row: 1;
    grid-column: 1 / -1;
  }
  .descricao::after {
    display: none;
  }
  .bike {
    grid-column: 1 / -1;
    grid-row: 2;
  }
  .nav {
    margin: auto 3.75rem;
  }
}
