body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background: #f7f7f7;
  display: grid;
  gap: 50px;
  justify-items: center;
}

h1 {
  font-size: 40px;
  text-align: center;
  margin: 50px 0 0 0;
}

button {
  background: white;
  border: none;
  border-radius: 5px;
  padding: 15px 30px;
  font-size: 20px;
  cursor: pointer;
}

p {
  margin: 0;
  font-size: 20px;
}

footer {
  text-align: center;
  padding: 40px 0;
  font-size: 20px;
  font-weight: 600;
  background: white;
  width: 100%;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.container {
  display: grid;
  max-width: 1000px;
  grid-template-columns: 1fr 1fr;
  margin: 0 60px;
}

/* div Descrição */
.descricao {
  align-content: center;
  position: relative;
  text-align: right;
  padding: 40px;
  background: white;
}

h2 {
  font-size: 35px;
  margin: 0;
}

.descricao p {
  margin: 20px;
}

.red-dash {
  height: 4px;
  width: 60px;
  background: #e21;
  position: absolute;
  top: 30px;
  right: -30px;
}

.vermais {
  color: white;
  background: #e21;
}

/* Imagem bicicleta */
.bike {
  max-width: 100%;
  display: block;
  grid-column: 2 / 3;
}

/* Vantagens bikcraft */
.vantagens {
  color: #c6c6c6;
  padding: 40px;
  align-self: center;
  text-align: right;
}

.vantagens p {
  font-size: 64px;
  font-weight: 700;
}

/* caracteristicas */
.caract {
  background: white;
  padding: 40px;
}

.titulo {
  margin: 0;
}

.caract-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 20px;
  padding: 20px;
}

.caract-item p {
  grid-column: 2;
}
